{% extends 'base.html' %}
{% block title %}车号管理{% endblock %}
{% block content %}
    <div id="content" style="height: 600px">
        <div id="search" class="text-center">
            <form class="form-inline" action="{% url 'customer:search' %} " method="post">
                <div class="form-group ">
                    <a class="btn btn-info" href="{% url 'customer:add' %}">添加</a>
                </div>
                {% csrf_token %}
                <div class="form-group">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" placeholder="输入ID查询">
                </div>
                <div class="form-group">
                    <label for="name">工序</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="输入工序查询">
                </div>
                <div class="form-group">
                    <label for="phone">车间</label>
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="输入车间查询">
                </div>
                <div class="form-group">
                    <label for="address">车号</label>
                    <input type="text" class="form-control" id="address" name="address" placeholder="输入车号查询">
                </div>
                <div class="form-group">
                    <label for="jx">机型</label>
                    <input type="text" class="form-control" id="jx" name="jx" placeholder="输入机型查询">
                </div>
                <button type="submit" class="btn btn-success">查询</button>
            </form>
        </div>
        <br>
        <div id="table" align="center">
            {% if qs %}
                <table class="table table-striped table-bordered table-hover  table-condensed" style="width: 1100px">
                <tr class="success">
                    <td>ID</td>
                    <td>工序</td>
                    <td>车间</td>
                    <td>车号</td>
                    <td>机型</td>
                    <td>创建时间</td>
                    <td>修改时间</td>
                    <td>编辑</td>
                    <td>删除</td>
                </tr>
                {% for foo in queryset %}
                    <tr>
                        <td>{{ foo.id }}</td>
                        <td>{{ foo.name }}</td>
                        <td>{{ foo.phone }}</td>
                        <td>{{ foo.address }}</td>
                        <td>{{ foo.jx }}</td>
                        <td>{{ foo.create_time }}</td>
                        <td>{{ foo.modify_time }}</td>
                        <td><a class="btn btn-primary btn-sm" href="{% url 'customer:update' foo.id %}">编辑</a></td>
                        <td><a class="btn btn-danger btn-sm" href="{% url 'customer:delete' foo.id %}">删除</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <p>请添加</p>
            {% endif %}
            </table>
        <ul class="pagination">
    <!-- 上一页 -->
        {{ page_string }}
    </ul>
        </div>
        <!-- 分页开始 -->


    <!-- 分页结束 -->
    </div>
{% endblock %}